
.banner {
  font-family: "Oswald", "Arial", sans-serif;
  position: relative;

  ::before {
    content: "";
    display: block;
    height: 63%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: $basic-green;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: $white;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/banner_2x.jpg");
    }
  }
}

.banner__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $white;
  margin: 0;
  padding: 0;
  padding-top: 27px;
}

.banner__description {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 28px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
}

.banner__image {
  display: block;
  margin: 0 auto;
  margin-top: -10px;
}

.banner__button {
  width: 100%;
  min-height: 42px;
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .banner {
    ::before {
      display: none;
    }
  }

  .banner__title {
    color: $black;
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    padding-top: 5px;
  }

  .banner__description {
    color: $black;
    text-align: start;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
    margin-top: 27px;
  }

  .banner__image {
    position: absolute;
    width: 709px;
    height: auto;
    top: 244px;
    left: 30px;
    order: 1;
    z-index: -1;
  }

  .banner__wrapper {
    padding: 27px 117px 526px;
    position: relative;
    margin-bottom: -19px;
  }

  .banner__button {
    width: 244px;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
  }
}


/*Десктоп*/
@media (min-width: $desktop-width) {
  .banner {
    background-color: none;

    ::before {
      display: block;
      width: 720px;
      z-index: -2;
      height: 110%;
      margin-left: 50%;
      background-image: url("../img/banner_desktop_1x.jpg");
      background-position: left;
      background-size: cover;
      top: -132px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/banner_desktop_2x.jpg");
      }
    }
  }

  .banner__wrapper {
    padding: 27px 117px 252px;
    position: relative;
    margin-bottom: 0;
  }

  .banner__image {
    width: 552px;
    height: auto;
    left: 554px;
    top: 18px;
  }

  .banner__title {
    padding-left: 74px;
    max-width: 430px;
    padding-top: 63px;
  }

  .banner__description {
    margin-bottom: 52px;
    padding-bottom: 0;
    padding-top: 13px;
    padding-left: 80px;
  }

  .banner__button {
    margin-left: 80px;
  }
}
