.banner{
    background-color: @green;
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.banner__wrapper{
    font-family: Oswald, Arial, sans-serif;
}

.banner__title{
    font-family: Oswald, Arial, sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin: 27px 35px;
}

.banner__description{
    font-family: Oswald, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    margin: 0 60px;
}

.banner__button{
    margin:0 20px;
    color: @white;
    background-color: @basic-green;
    text-transform: uppercase;
}
