
.banner__wrapper {
  font-family: "Oswald", "Arial", sans-serif;
  padding: 27px 35px;
  position: relative;

  ::before {
    content: "";
    display: block;
    height: 63%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: $basic-green;
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
  }
}

.banner__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $white;
}

.banner__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: $white;
}

.banner__button {
  padding: 7px 44px;
  color: $white;
  background-color: $basic-green;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border: none;
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .banner {
    ::before {
      display: none;
    }
  }

  .banner__title {
    color: $black;
    text-align: start;
    font-size: 60px;
    line-height: 60px;
  }

  .banner__description {
    color: $black;
    text-align: start;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 49px;
  }

  .banner__image {
    position: absolute;
    top: 270px;
    right: 150px;
    order: 1;
    z-index: -1;
    width: 709px;
    height: auto;
  }

  .banner__wrapper {
    padding: 27px 117px 526px;
    position: relative;
  }

  .banner__button {
    width: 244px;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
  }
}


/*Десктоп*/
@media (min-width: $desktop-width) {
  .banner {
    background-color: none;

    ::before {
      display: block;
      z-index: 1;
      height: 694px;
      width: 50%;
      margin-left: 50%;
      background-position: left;
      background-size: cover;
    }
  }

  .banner__image {
    width: 552px;
    left: 695px;
  }

  .banner__description {
    margin-bottom: 52px;
  }
}
