.button {
  padding: 7px 44px;
  color: $white;
  background-color: $basic-green;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border: none;

  &:hover {
    background-color: $basic_green-2;
  }

  &:active {
    background-color: $basic_green-2;
    color: rgba($white, 30%);
  }

  &:focus {
    background-color: $basic_green-2;
  }
}

.button-grey {
  padding: 7px 44px;
  color: $special_dark-grey;
  background-color: $basic-grey;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border: none;

  &:hover {
    background-color: $special_grey-2;
  }

  &:active {
    background-color: $special_dark-grey;
    color: rgba($special_grey, 30%);
  }

  &:focus {
    background-color: $special_grey-2;
  }
}

.button--catalog {
  width: 100%;
  padding: 10px 44px;
  color: $white;
  background-color: $basic-green;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;

  &:hover {
    background-color: $basic_green-2;
  }

  &:active {
    background-color: $basic_green-2;
    color: rgba($white, 30%);
  }

  &:focus {
    background-color: $basic_green-2;
  }
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .button {
    padding: 16px 26px;
    font-size: 20px;
    line-height: 20px;
  }
}
