.copyright__text {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $special_dark-grey;
}


/*Десктоп*/
@media (min-width: $desktop-width) {

}
