.copyright__text {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $special_dark-grey;
  text-decoration: none;

  &:hover + .copyright__svg,
  &:focus + .copyright__svg {
    color: $basic-green;
  }
}

.copyright__svg {
  color: $special_dark-grey;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $basic-green;
  }

  &:active {
    color: rgba($basic-green, 30%);
  }
}


/*Десктоп*/
@media (min-width: $desktop-width) {
  /*hhh*/
}
