.example {
  background-color: $light-grey;
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  padding-top: 25px;
  margin-bottom: 40px;
}

.example__description {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}

.example__results {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.example__final {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  margin-top: 33px;
  margin-bottom: 17px;
}

.example__before-after {
  text-align: center;
  padding-bottom: 40px;
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .example {
    position: relative;
    border: 1px solid #e6e6e6;
    background-color: $white;
    padding-bottom: 700px;
    padding-top: 50px;

    &::after {
      content: "";
      background-color: $light-grey;
      height: 462px;
      width: 100%;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 0;
    }
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding: 0;
    margin-bottom: 63px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  .example__tablet-div {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .example__results {
    gap: 42px;
  }

  .example__final {
    width: 174px;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    margin: 0;
    margin-top: 8px;
  }

  .example__before-after {
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    bottom: 70px;
  }
}


/*Десктоп*/
@media (min-width: $desktop-width) {
  .example {
    padding-bottom: 90px;
    padding-top: 30px;
    border: none;
    background-color: inherit;

    &::after {
      z-index: -1;
      bottom: 92px;
    }
  }

  .example__description {
    max-width: 436px;
    margin-bottom: 67px;
    margin-top: 144px;
    background-color: $light-grey;
  }

  .example__tablet-div {
    flex-direction: column;
    justify-content: flex-start;
  }

  .example__results {
    justify-content: flex-start;
    background-color: inherit;
    margin-bottom: 50px;
  }

  .example__final {
    width: 400px;
    text-align: left;
    background-color: inherit;
  }

  .example__before-after {
    position: relative;
    padding-bottom: 70px;
  }

  .example__before-after-image {
    position: absolute;
    top: -460px;
    right: 0;
    width: 560px;
    height: 512px;
  }
}
