.example {
  background-color: $light-grey;
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  padding-top: 25px;
  margin-bottom: 40px;
}

.example__description {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}

.example__results {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.example__final {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  margin-top: 33px;
  margin-bottom: 17px;
}

.example__before-after {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 44px;
  width: 280px;
  height: 256px;
  text-align: center;
  object-fit: contain;
}


.example__before-after-image {
  position: absolute;
}

.example__toggle-line {
  position: absolute;
  height: 254px;
  width: 4px;
  border-radius: 2px;
  top: 127px;
  left: 0;
  background-color: $special_grey-3;
  transform: translateY(-50%);
  z-index: 2;
}

.example__toggle {
  position: absolute;
  top: 110px;
  left: 0;
  z-index: 3;
}

.example__toggle-button {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  background-color: $white;
  border: 3px solid $special_grey-3;
  border-radius: 50%;
  cursor: pointer;
  transform: translateX(-50%);
}

.example__toggle-svg {
  position: absolute;
  top: 5px;
  left: 4px;
}

.example__toggle:hover + .example__toggle-button {
  background-color: $basic-green;
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .example {
    position: relative;
    border: 1px solid #e6e6e6;
    background-color: $white;
    padding-bottom: 143px;
    padding-top: 41px;

    &::after {
      content: "";
      background-color: $light-grey;
      height: 462px;
      width: 100%;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 0;
    }
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding: 0;
    margin-bottom: 64px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  .example__tablet-div {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .example__results {
    gap: 42px;
  }

  .example__final {
    width: 174px;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    margin: 0;
    margin-top: 8px;
  }

  .example__before-after {
    width: 560px;
    height: 512px;
    margin: auto;
    z-index: 1;
    right: 0;
    left: 0;
    bottom: 59px;
  }

  .example__toggle-line {
    height: 512px;
    top: 257px;
  }

  .example__toggle {
    top: 240px;
  }
}


/*Десктоп*/
@media (min-width: $desktop-width) {
  .example {
    padding-bottom: 0;
    padding-top: 30px;
    border: none;
    background-color: inherit;

    &::after {
      z-index: -1;
      top: 161px;
    }
  }

  .example__wrapper {
    position: relative;
  }

  .example__description {
    max-width: 432px;
    margin-bottom: 67px;
    margin-top: 144px;
    background-color: $light-grey;
  }

  .example__tablet-div {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 65px;
  }

  .example__results {
    justify-content: flex-start;
    background-color: inherit;
    margin-bottom: 50px;
  }

  .example__final {
    width: 400px;
    text-align: left;
    background-color: inherit;
  }

  .example__before-after {
    position: absolute;
    padding-bottom: 0;
    margin: 0;
    left: auto;
    right: 109px;
  }

  .example__before-after-image {
    position: absolute;
    margin: 0;
    top: 40px;
  }
}
