.main-footer__wrapper {
  background-color: $basic-grey;

  &--form {
    background-color: $basic-grey;
  }
}

.main-footer__title {
  margin: 0;
  padding: 0;
  width: 139px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-footer__address {
  width: 139px;
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;
}

.main-footer__text-group {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
}

.main-footer__text-group-index {
  background-color: $white;
}

.main-footer__wrapper-block {
  margin-top: 39px;
  padding-bottom: 22px;
}

.main-footer__logo-link {
  margin: auto;
}

.main-footer__logo-img {
  padding-bottom: 20px;
  display: block;
  margin: 0 auto;
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.main-footer__social {
  margin: 0;
  padding: 0;
  align-items: center;
  padding-bottom: 18px;
  padding-top: 20px;
  border-bottom: 1px solid $grey;
  border-top: 1px solid $grey;
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .main-footer__wrapper-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 53px;
    padding-bottom: 59px;

    &--form {
      margin-top: 49px;
    }
  }

  .main-footer__wrapper {
    background-color: $basic-grey;
    margin-top: 76px;

    &--form {
      margin-top: -12px;
    }
  }

  .main-footer__text-group {
    width: 628px;
    margin: auto;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 56px;
  }

  .main-footer__title {
    br {
      display: block;
    }

    width: 172px;
    font-size: 20px;
    line-height: 26px;
  }

  .main-footer__address {
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .main-footer__logo-link {
    padding: 0;
    margin: 0;
  }

  .main-footer__copyright {
    width: 163px;
    padding: 0;
  }

  .main-footer__social {
    border: none;
    width: 99px;
  }

  .main-footer__logo-img {
    padding-bottom: 0;
  }
}


/*Десктоп*/
@media (min-width: $desktop-width) {
  .main-footer__wrapper-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__wrapper {
    margin-top: 0;
  }

  .main-footer__address {
    margin-left: -5px;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }

  .main-footer__map {
    position: relative;
  }

  .main-footer__text-group {
    position: absolute;
    top: auto;
    background-color: $white;
    z-index: 2;
    margin-top: 95px;
    margin-left: 110px;
    max-width: 565px;
    padding: 56px 80px;
  }
}
