@media (max-width: $mobile-width-only) {
  .main-header {
    position: relative;

    &--nojs {
      position: static;
    }
  }
}

.main-header__logo-1 {
  display: block;
  padding-top: 10px;
  padding-bottom: 17px;
  align-items: center;

  &:hover,
  &:focus {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.main-header__logo-image2 {
  margin-left: 56px;
}

.main-header__toggle {
  position: relative;
  padding: 0;
  margin-left: auto;
  z-index: 2;
  display: block;
  background-color: inherit;
  cursor: pointer;
  border: none;

  &--closed {
    width: 24px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: -25px;
      left: 0;
      right: 0;
      width: 24px;
      height: 2px;
      background-color: $black;
      box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
    }

    &:hover::before,
    &:focus::before {
      background-color: $basic-green;
      box-shadow: 0 8px 0 0 $basic-green, 0 16px 0 0 $basic-green;
    }

    &:active::before {
      opacity: 60%;
    }
  }

  &--opened {
    width: 24px;

    &::before,
    &::after {
      content: "";
      width: 24px;
      height: 2px;
      display: block;
      position: absolute;
      top: -15px;
      left: 0;
      background-color: $black;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      opacity: 60%;
    }
  }

  &--nojs {
    /*ff*/
  }
}

@media (min-width: $tablet-width) {
  .main-header__wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .main-header__logo-image2, {
    display: none;
  }

  .main-header__logo-image {
    width: 174px;
    height: auto;
    margin-right: 94px;
  }

  .main-header__toggle {
    display: none;
  }
}


/*Десктоп*/
@media (min-width: $desktop-width) {
  .main-header__wrapper {
    padding-top: 53px;
  }

  .main-header__logo-image {
    width: 202px;
    height: auto;
    margin-right: 540px;
  }
}
