.main-footer__wrapper {
  margin-top: 35px;
  background-color: $basic-grey;

  &--form {
    background-color: $basic-grey;
  }
}

.main-footer__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-footer__address {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;
}

.main-footer__text-group {
  display: flex;
  justify-content: space-between;
}

.main-footer__text-group-index {
  background-color: $white;
}

.main-footer__wrapper-block {
  margin-top: 39px;
  padding-bottom: 22px;
}

.main-footer__logo-link {
  margin: auto;
}

.main-footer__logo-img {
  padding-bottom: 32px;
  display: block;
  margin: 0 auto;
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
}

.main-footer__social {
  margin: 0;
  padding: 0;
  align-items: center;
  padding-bottom: 21px;
  padding-top: 20px;
  border-bottom: 1px solid $grey;
  border-top: 1px solid $grey;
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .main-footer__wrapper-block {
    width: 708px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 58px;
    padding-bottom: 59px;
  }

  .main-footer__wrapper {
    background-color: $basic-grey;
  }

  .main-footer__text-group {
    width: 628px;
    padding: 55px 70px;
    margin: auto;
  }

  .main-footer__title {
    width: 172px;
  }

  .main-footer__address {
    width: 160px;
  }

  .main-footer__logo-link {
    padding: 0;
    margin: 0;
  }

  .main-footer__copyright {
    width: 163px;
    padding: 0;
  }

  .main-footer__social {
    border: none;
  }

  .main-footer__logo-img {
    padding-bottom: 0;
  }
}


/*Десктоп*/
@media (min-width: $desktop-width) {
  .main-footer__wrapper-block {
    width: 1220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__map {
    position: relative;
  }

  .main-footer__text-group {
    position: absolute;
    top: auto;
    background-color: $white;
    z-index: 2;
    margin-top: 95px;
    margin-left: 110px;
    max-width: 565px;
    padding: 56px 80px;
  }
}
