.main-header__wrapper {
  margin: 10px 20px;
}

.main-header__logo-image2 {
  margin-left: 56px;
}

@media (min-width: $tablet-width) {
  .main-header__wrapper {
    display: flex;
  }
}


/*Десктоп*/
@media (min-width: $desktop-width) {
  /*hhh*/
}
