.main-nav {
  &--nojs {
    display: block;
  }

  &--closed {
    display: none;
  }
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  padding-bottom: 17px;
}

.main-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $black;

  &:hover {
    color: rgba($black, 60%);
  }

  &:active {
    color: rgba($black, 60%);
  }
}

.main-nav__item {
  text-align: center;
  border-top: 1px solid #e6e6e6;
  padding-top: 22px;
  padding-bottom: 22px;
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    min-width: 440px;
    justify-content: space-between;
  }

  .main-nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: $black;
  }

  .main-nav__item {
    border-top: none;

    &--active {
      border-bottom: 2px solid $basic-green;
    }
  }
}

/*Десктоп*/
@media (min-width: $desktop-width) {
  .main-nav__link {
    color: $white;

    &:hover {
      color: rgba($white, 60%);
    }

    &:active {
      color: rgba($white, 60%);
    }
  }

  .main-nav__item {
    &--active {
      border-bottom: 2px solid $white;
    }
  }
}
