.main-footer__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-footer__address {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;
}

.main-footer__text-group {
  display: flex;
  justify-content: space-between;
}

.main-footer__logo {
  margin: 0;
  padding: 35px 96px;
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer__social {
  margin: 0;
  padding: 0;
  align-items: center;
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .main-footer__wrapper-block {
    width: 708px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


/*Десктоп*/
@media (min-width: $desktop-width) {
  .main-footer__wrapper-block {
    width: 1220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__map {
    position: relative;
  }

  .main-footer__text-group {
    position: absolute;
    top: auto;
    background-color: $white;
    z-index: 2;
    margin-top: 95px;
    margin-left: 110px;
    max-width: 565px;
    padding: 56px 80px;
  }
}
