

.main-nav__toggle {
  position: absolute;
  padding: 0;
  top: 10px;
  right: 0;
  z-index: 2;
  display: block;
  width: 24px;
  height: 48px;
  background-color: inherit;
  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background-color: #624530;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(#ffffff, 30%);
  box-shadow:
    0 8px 0 0 fade(#ffffff, 30%),
    0 16px 0 0 fade(#ffffff, 30%);
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  padding-bottom: 17px;
}

.main-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $black;
}

.main-nav__item {
  text-align: center;
  border-top: 1px solid #e6e6e6;
  padding-top: 22px;
  padding-bottom: 22px;
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    min-width: 440px;
    justify-content: space-between;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: $black;
  }

  .main-nav__item {
    border-top: none;

    &--active {
      border-bottom: 2px solid $basic-green;
    }
  }
}

/*Десктоп*/
@media (min-width: $desktop-width) {
  /*ppp*/
}
