

.principles__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
}

.principles__list {
  display: flex;
  flex-direction: column;
  grid-row-gap: 20px;
  list-style-type: none;
}

.principles__description {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  grid-column: 3 / 4;
}


/*Планшет*/
@media (min-width: $tablet-width) {
  .principles__list {
    display: flex;
    flex-direction: row;
    grid-row-gap: 37px;
    grid-column-gap: 137px;
    flex-wrap: wrap;
  }

  .principles__item {
    width: 245px;
  }
}


/*Десктоп*/
@media (min-width: $desktop-width) {
  .principles__item {
    width: 245px;
    grid-column-gap: 37px;
  }
}
