

.principles__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
}

.principles__list {
  display: flex;
  flex-direction: column;
  grid-row-gap: 20px;
  list-style-type: none;
  padding: 0;
}

.principles__description {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  grid-column: 3 / 4;
  display: flex;
  margin: 0;

  &::before {
    content: "";
    display: block;
    background-color: $basic-green;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    flex: none;
  }

  &--list {
    &::before {
      background-image: url("../img/icon-list.jpg");
      background-size: 60px 60px;
    }
  }

  &--water {
    &::before {
      background-image: url("../img/icon-water.jpg");
      background-size: 60px 60px;
    }
  }

  &--knife {
    &::before {
      background-image: url("../img/icon-knife.jpg");
      background-size: 60px 60px;
    }
  }

  &--time {
    &::before {
      background-image: url("../img/icon-time.jpg");
      background-size: 60px 60px;
    }
  }
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .principles__list {
    display: flex;
    flex-direction: row;
    grid-row-gap: 37px;
    grid-column-gap: 137px;
    flex-wrap: wrap;
  }

  .principles__item {
    width: 245px;
    margin: 0;
    max-width: 250px;
    min-height: 280px;
    padding-top: 34px;
    background-repeat: no-repeat;
    background-position: right 34px;

    &--one {
      background-image: url("../img/1.svg");
      background-position: 118px 34px;
    }

    &--two {
      background-image: url("../img/2.svg");
      background-position: 111px 34px;
    }

    &--three {
      background-image: url("../img/3.svg");
    }

    &--four {
      background-image: url("../img/4.svg");
    }
  }

  .principles__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
  }

  .principles__description {
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;

    &::before {
      width: 80px;
      height: 80px;
      margin-right: 0;
      margin-bottom: 31px;
    }
  }
}


/*Десктоп*/
@media (min-width: $desktop-width) {
  .principles__item {
    width: 245px;
    grid-column-gap: 37px;
  }
}
