.programms__wrapper {
  margin-top: 20px;
}

.programms__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.programms__item {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: $basic-grey;
  width: 280px;
  padding: 0;
  margin-bottom: 20px;

  &--slim {
    ::before {
      content: "";
      position: absolute;
      background-image: url("../img/catalog-slim.svg");
      width: 50px;
      height: 53px;
      background-size: auto  53px;
      background-position: center;
      background-repeat: no-repeat;
      top: 22px;
      left: 13px;
    }
  }

  &--pro {
    ::before {
      content: "";
      position: absolute;
      background-image: url("../img/catalog-pro.svg");
      width: 67px;
      height: 50px;
      background-size: auto  50px;
      background-position: center;
      background-repeat: no-repeat;
      top: 22px;
      left: 13px;
    }
  }
}

.programms__title {
  margin: 0;
  margin-bottom: 29px;
  padding-top: 30px;
  padding-left: 91px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: start;
}


.programms__description {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  width: 240px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  padding-bottom: 23px;
  text-align: start;
  border-bottom: 1px solid #d9d9d9;
}

.programms__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding: 16px;
  text-transform: uppercase;
  border: none;
  text-align: left;
}

.programms__button-svg {
  &:hover {
    width: 34px;
  }
}

/*Планшетная версия*/
@media (min-width: $tablet-width) {
  .programms__item {
    padding: 77px 62px 53px 52px;
    margin-bottom: 30px;
    width: 708px;
    box-sizing: border-box;

    ::before {
      background-size: auto  200px;
      width: 268px;
      height: 200px;
      top: auto;
      left: auto;
      right: 28px;
      bottom: 80px;
    }
  }

  .programms__title {
    color: $black;
    margin-left: 53px;
    padding: 0;
  }

  .programms__description {
    width: 340px;
    margin-left: 53px;
    padding: 0;
  }

  .programms__button {
    padding: 0;
    margin-left: 53px;
  }
}


/*Десктоп*/
@media (min-width: $desktop-width) {
  .programms__list {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .programms__item {
    flex-grow: 1;
    padding: 77px 67px 55px 52px;
    margin-bottom: 71px;
    max-width: 570px;

    ::before {
      background-size: auto  100px;
      width: 134px;
      height: 100px;
      top: 47px;
      left: 33px;
      right: auto;
      bottom: auto;
    }
  }
}
