.programms__wrapper {
  margin-top: 20px;
}

.programms__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.programms__item {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: $basic-grey;
  width: 280px;
  padding: 0;
  margin-bottom: 20px;

  &--slim {
    ::before {
      content: "";
      position: absolute;
      background-image: url("../img/catalog-slim.svg");
      width: 50px;
      height: 53px;
      background-size: auto  53px;
      background-position: center;
      background-repeat: no-repeat;
      top: 22px;
      left: 20px;
    }
  }

  &--pro {
    ::before {
      content: "";
      position: absolute;
      background-image: url("../img/catalog-pro.svg");
      width: 67px;
      height: 53px;
      background-size: auto  50px;
      background-position: center;
      background-repeat: no-repeat;
      top: 21px;
      left: 13px;
    }
  }
}

.programms__title {
  margin: 0;
  margin-bottom: 29px;
  padding-top: 30px;
  padding-left: 91px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: start;
}


.programms__description {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  width: 240px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  padding-bottom: 23px;
  text-align: start;
  border-bottom: 1px solid #d9d9d9;
}

.programms__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding-top: 17px;
  padding-bottom: 24px;
  padding-left: 21px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  text-align: left;
  background-color: transparent;
  color: $black;

  &:active {
    opacity: 0.4;
  }
}

.programms__button-svg {
  padding-left: 12px;

  &:hover {
    width: 34px;
  }
}

.programms__button:hover > .programms__button-svg {
  width: 34px;
}

/*Планшетная версия*/
@media (min-width: $tablet-width) {
  .programms__item {
    padding: 79px 62px 53px 52px;
    margin-bottom: 30px;
    width: 708px;
    box-sizing: border-box;

    ::before {
      background-size: auto  200px;
      width: 268px;
      height: 200px;
      top: auto;
      left: auto;
      right: 27px;
      bottom: 83px;
    }

    &--slim {
      ::before {
        width: 268px;
        height: 208px;
        background-size: auto  208px;
      }
    }
  }

  .programms__title {
    color: $black;
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  .programms__description {
    width: 340px;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;
  }

  br {
    display: none;
  }

  .programms__button {
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 5px;
  }

  .programms__button-svg {
    margin-left: 11px;
  }
}


/*Десктоп*/
@media (min-width: $desktop-width) {
  .programms__list {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .programms__item {
    flex-grow: 1;
    padding: 73px 67px 55px 52px;
    margin-bottom: 52px;
    max-width: 570px;

    ::before {
      background-size: auto  100px;
      width: 136px;
      height: 101px;
      top: 41px;
      left: 33px;
      right: auto;
      bottom: auto;
    }
  }

  .programms__title {
    margin-left: 162px;
    margin-bottom: 73px;
    font-size: 36px;
    line-height: 36px;
  }

  .programms__description {
    width: 457px;
    margin-bottom: 28px;
  }
}
