.programms__wrapper {
  margin-top: 20px;
}

.programms__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.programms__item {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: $basic-grey;
  min-width: 280px;
  padding: 24px 33px 23px 20px;
  margin-bottom: 20px;
}

.programms__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  margin-left: 23px;
  margin-top: 30px;
  text-transform: uppercase;
  text-align: start;
}


.programms__description {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 22px;
  padding-left: 20px;
  padding-right: 33px;
  text-align: start;
  border-bottom: 1px solid #d9d9d9;
}

.programms__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding: 16px;
  text-transform: uppercase;
  border: none;
}


/*Планшетная версия*/
@media (min-width: $tablet-width) {
  .programms__item {
    padding: 77px 62px 53px 52px;
    margin-bottom: 30px;
  }

  .programms__title {
    color: $black;
    margin-left: 53px;
    padding: 0;
  }

  .programms__description {
    width: 340px;
    margin-left: 53px;
    padding: 0;
  }

  .programms__button {
    padding: 0;
    margin-left: 53px;
  }
}


/*Десктоп*/
@media (min-width: $desktop-width) {
  .programms__list {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .programms__item {
    flex-grow: 1;
    min-width: 570px;
    padding: 77px 67px 55px 52px;
    margin-bottom: 71px;
  }
}
