.results {
  padding: 0;
}

.results__item {
  min-width: 124px;
  max-width: 162px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  position: relative;
}

.results__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.results__description {
  position: absolute;
  left: 25px;
  bottom: -10px;
  width: 77px;
  margin: 0 auto;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: inherit;
  font-size: 12px;
  line-height: 12px;
  color: $special_dark-grey;
  background-color: $light-grey;
}


/*Планшет*/
@media (min-width: $tablet-width) {
  .results__title {
    font-size: 30px;
    line-height: 37px;
  }

  .results__description {
    font-size: 14px;
    line-height: 14px;
  }

  .results__title {
    text-align: center;
    margin: 0;
    padding: 15px 57px 20px 57px;
  }
}

/*Десктоп*/
@media (min-width: $desktop-width) {
  /*ppp*/
}
