.results__item {
  border: 1px solid #cdcdcd;
}

.results__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.results__description {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}


/*Десктоп*/
@media (min-width: $desktop-width) {
  /*ppp*/
}
