.results {
  padding: 0;
}

.results__item {
  width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.results__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.results__description {
  position: absolute;
  left: 20px;
  width: 77px;
  margin: 0 auto;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: $special_dark-grey;
  background-color: $light-grey;
}


/*Десктоп*/
@media (min-width: $desktop-width) {
  /*ppp*/
}
