.social__list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0;
  width: 128px;
  align-items: center;
  flex-wrap: wrap;
  gap: 22px;
}

.social__link {
  &:hover + .social__svg {
    color: $basic-green;
  }

  &--youtube {
    padding-right: 4px;
  }
}

.social__svg {
  color: $special_dark-grey;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $basic-green;
  }

  &:active {
    color: rgba($basic-green, 30%);
  }
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .social__list {
    max-width: 140px;
    justify-content: flex-start;
  }
}

/*Десктоп*/
@media (min-width: $desktop-width) {
  .social__list {
    max-width: 230px;
    justify-content: flex-start;
  }
}
