.additions-card__wrapper {
  @media (max-width: $tablet-width) {
    @include wrapper();
  }
}

.additions-card {
  padding: 11px 0 19px;
  border-top: 1px solid $special_grey;

  &--last {
    border-bottom: 1px solid $special_grey;
  }
}

.additions-card__title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $special_dark-grey-2;
}

.additions-card__description {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.additions-card__button {
  display: block;
  max-width: 280px;
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .additions-card {
    padding: 10px 38px 25px;
  }

  .additions-card__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  .additions-card__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0;
  }

  .additions-card__description {
    font-family: "Lato", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
  }

  .additions-card__value {
    margin-top: 19px;
  }

  .additions-card__button {
    max-width: 100%;
  }
}


/*Десктоп*/
@media (min-width: $desktop-width) {
  .additions-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .additions-card__wrapper {
    flex-grow: 1;
    margin-bottom: 2px;
  }

  .additions-card__button {
    max-width: 244px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .additions-card__description {
    margin-right: 40px;
    width: 285px;
    margin-top: 10px;
  }
}
