.addition__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.addition__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.addition-card__button {
  width: 100%;
}
