.addition-card {
  padding: 12px 0 20px;
  border-top: 1px solid $special_grey;

  &--addition-card--last {
    border-bottom: 1px solid $special_grey;
  }
}

.addition-card__title {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $special_dark-grey-2;
}

.addition-card__description {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .addition-card {
    padding: 26px 38px 28px;
  }

  .additional-card__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


/*Десктоп*/
@media (min-width: $desktop-width) {
  .addition-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
