.card {
  &--last {
    text-align: center;
  }
}

.card__properties-list {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
}

.card__description {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.card__button-last {
  background-color: $basic-grey;
  color: $special_dark-grey;
}


/*Десктоп*/
@media (min-width: $desktop-width) {
  /*ppp*/
}
