.card__properties-list {
  padding-bottom: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.card__property-value {
  margin: 0;
  padding: 0;
  text-align: right;
}

.card__link {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.card__description {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 21px;
  margin-top: 9px;
}

.card__button {
  grid-column: 1/3;
  width: 100%;
  min-height: 40px;
}

.card__svg {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-top: 5px;
}

.card__name {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 76px;

  &--last {
    margin: 0 auto;
    margin-top: 23px;
    max-width: 204px;
  }
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .card__properties-list {
    width: 252px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 16px;
  }

  .card__property {
    padding-top: 5px;
    border-bottom: 1px solid #cdcdcd;
  }

  .card__property-value {
    padding-bottom: 9px;
    padding-top: 5px;
    border-bottom: 1px solid #cdcdcd;
  }

  .card__image {
    position: absolute;
    top: -74px;
    left: 77px;
  }

  .card__name {
    max-width: 154px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .card__svg {
    width: 60px;
    height: 60px;
  }

  .card__description {
    font-size: 16px;
    line-height: 18px;
    max-width: 165px;
  }
}

/*Десктоп*/
@media (min-width: $desktop-width) {
  .card {
    padding: 0 35px 40px;
  }

  .card__image {
    left: 4px;
    top: -79px;
  }

  .card__properties-list {
    width: 180px;
  }

  .card__button {
    width: 168px;
  }
}
