.card {
  &--last {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 4px;
  }
}

.card__properties-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.card__property-value {
  margin: 0;
  padding: 0;
  text-align: right;
}

.card__link {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.card__description {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 21px;
}

.card__button {
  grid-column: 1/3;
}

.card__svg {
  display: block;
  margin: 0 auto;
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .card__properties-list {
    width: 252px;
    margin-bottom: 33px;
  }


  .card__image {
    position: absolute;
    top: -50px;
    left: 90px;
  }
}

/*Десктоп*/
@media (min-width: $desktop-width) {
  .card {
    padding: 0 35px 40px;
  }
}
