.catalog__title {
  padding: 0;
  padding-left: 20px;
  padding-top: 27px;
  padding-bottom: 41px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $black;
}

.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog__wrapper {
  border-top: 1px solid #d9d9d9;
}

.catalog__item-wrapper {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: auto;
  padding-top: 19px;

  &--last {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 4px;
    text-align: center;
    position: relative;
  }

  @media (max-width: $tablet-width) {
    @include wrapper();
  }
}

.catalog__item {
  margin: 0;
  margin-bottom: 25px;
  border-top: 1px solid $special_grey-2;

  &--last {
    border-bottom: 1px solid $special_grey-2;
    padding-bottom: 24px;
  }
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .catalog__wrapper {
    @include wrapper-tablet();
    border: none;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 35px;
    border: none;
    padding-top: 50px;

    @include wrapper-tablet();
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    row-gap: 116px;
    justify-content: center;
    margin-top: 122px;
    margin-bottom: 37px;
  }

  .catalog__item-wrapper {
    padding: 161px 36px 39px 36px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    position: relative;

    &--last {
      display: flex;
      flex-direction: column;
      margin-top: -87px;
      margin-bottom: 4px;
      text-align: center;
      position: relative;
    }
  }

  .catalog__item {
    width: 324px;
    background-color: $basic-grey;

    &--last {
      background-color: $white;
      border: 2px solid $basic-grey;
      padding-bottom: 0;
    }
  }
}

/*Десктоп*/
@media (min-width: $desktop-width) {
  .catalog__wrapper {
    @include wrapper-desk();
  }

  .catalog__title {
    @include wrapper-desk();
    padding-left: 0;
    margin-top: 10px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 118px;
    margin-bottom: 51px;
  }

  .catalog__item {
    width: 245px;
    box-sizing: border-box;
  }

  .catalog__item-wrapper {
    padding: 0;
    padding-top: 161px;
  }
}
