.catalog__wrapper {
  padding: 10px 20px;
}

.catalog__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $black;
}

.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog__item {
  margin: 0;
  padding: 0;
  background-color: $basic-grey;
}

.card__name {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.card__button {
  width: 100%;
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }

  .catalog__item {
    width: 324px;
  }
}

/*Десктоп*/
@media (min-width: $desktop-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 63px;
  }

  .catalog__item {
    width: 245px;
  }
}
