.addition {
  border: none;
  display: flex;
  flex-direction: column;
}

.addition__legend-wrapper {
  @include green-line();
}

.addition__legend {
  @include wrapper();
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  &::before {
    position: absolute;
    content: "";
    top: 2px;
    left: 0;
    display: block;
    width: 183px;
    height: 26px;
    background-color: $white;
    z-index: -1;
  }
}

.addition__control-label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.addition__variants {
  @include wrapper();

  display: block;
  list-style: none;
  margin-top: 33px;
  margin-bottom: 21px;
}

.addition__control {
  display: flex;
  align-items: center;
}

.addition__control-input {
  width: 30px;
  height: 30px;
}

.addition__control-mark {
  position: relative;
  display: block;
  border: 1px solid $special_grey;
  margin-right: 16px;
  width: 30px;
  height: 30px;

  &:hover {
    border: 1px solid #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

.addition__control-input[type="checkbox"]:checked + .addition__control-mark {
  &::before {
    content: "";
    background-image: url("../img/checked.svg");
    position: absolute;
    margin: 0 auto;
    padding: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 19px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.addition__item {
  margin-bottom: 11px;
}


/*Планшетная версия*/
@media (min-width: $tablet-width) {
  .addition__variants {
    @include wrapper-tablet();
    margin-top: 56px;
    max-width: 688px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 21px 59px;
  }

  .addition__legend {
    @include wrapper-tablet();
    padding-left: 70px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      left: 31px;
      width: 291px;
      height: 26px;
    }
  }

  .addition__control-label {
    font-size: 20px;
    line-height: 30px;
  }

  .addition__control-mark {
    width: 40px;
    height: 40px;
  }
}

/*Десктоп*/
@media (min-width: $desktop-width) {
  .addition__legend {
    @include wrapper-desk();

    &::before {
      left: 71px;
    }
  }

  .addition__variants {
    @include wrapper-desk();
    display: grid;
    margin-top: 57px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px 80px;
    max-width: 1440px;
  }
}
