.addition {
  border: none;
}

.addition__legend {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.addition__control-label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.addition__variants {
  list-style: none;
}


/*Планшетная версия*/
@media (min-width: $tablet-width) {
  .addition__variants {
    display: flex;
    flex-wrap: wrap;
    max-width: 533px;
  }
}

/*Десктоп*/
@media (min-width: $desktop-width) {
  .addition__variants {
    display: flex;
  }
}
