.comment__title-wrapper {
  @include green-line();
  margin-top: 8px;
  margin-bottom: 37px;

  .comment__title {
    @include wrapper();

    display: block;
    position: relative;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;

    &::before {
      position: absolute;
      content: "";
      top: 2px;
      left: 0;
      display: block;
      width: 163px;
      height: 52px;
      background-color: $white;
      z-index: -1;
    }
  }
}

.comment__textarea {
  max-width: 280px;
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  min-height: 151px;
  text-transform: uppercase;
  color: $special_dark-grey;
  padding: 10px 12px 10px 15px;
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .comment__title-wrapper {
    margin-top: 48px;
    margin-bottom: 76px;

    .comment__title {
      @include wrapper-tablet();
      padding-left: 70px;
      font-size: 36px;
      line-height: 36px;

      &::before {
        left: 31px;
        width: 259px;
        height: 52px;
      }
    }
  }

  .comment__textarea {
    max-width: 631px;
    font-size: 20px;
    line-height: 30px;
    min-height: 174px;
    margin-bottom: 65px;
    padding: 10px 19px;
  }
}

/*Десктоп*/
@media (min-width: $desktop-width) {
  .comment__title-wrapper {
    .comment__title {
      @include wrapper-desk();

      &::before {
        left: 31px;
        width: 259px;
        height: 52px;
      }
    }
  }

  .comment__textarea {
    max-width: 1220px;
  }
}
