.comment__title-wrapper {
  @include green-line();
  margin-top: 11px;
  margin-bottom: 34px;

  .comment__title {
    @include wrapper();

    display: block;
    position: relative;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;

    &::before {
      position: absolute;
      content: "";
      top: 2px;
      left: 0;
      display: block;
      width: 219px;
      height: 52px;
      background-color: $white;
      z-index: -1;
    }
  }
}

.comment__textarea {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  min-height: 151px;
  text-transform: uppercase;
  color: $special_dark-grey;
  padding: 10px 12px 10px 15px;
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .comment__textarea {
    font-size: 20px;
    line-height: 30px;
    min-height: 174px;
    margin-bottom: 65px;
    padding: 10px 19px;
  }
}

/*Десктоп*/
@media (min-width: $desktop-width) {
  /*hhh*/
}
