.goal__variants {
  @include wrapper();
  list-style-type: none;
}

.goal__item {
  margin-bottom: 13px;

  &--last {
    margin-bottom: 0;
  }
}

.goal__control {
  display: flex;
  align-items: center;
}

.goal__control-label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
}

.goal__control-mark {
  display: block;
  position: relative;
  margin-right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $special_grey;

  &:hover {
    border: 1px solid #bababa;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    border: 1px solid $black;
  }
}

.goal__control-input[type="radio"]:focus + .goal__control-mark {
  border: 1px solid $special_dark-grey;
}

.goal__control-input[type="radio"]:disabled + .goal__control-mark,
.goal__control-input[type="radio"]:disabled + .goal__control-label {
  opacity: 0.3;
}

.goal__control-input[type="radio"]:checked + .goal__control-mark {
  &::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 13px;
    height: 13px;
    background-color: $basic-green;
    border-radius: 50%;
  }
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .goal__variants {
    border: 1px solid $light-grey;
    width: 630px;
    padding: 25px 27px;
    margin-top: 48px;
    padding-bottom: 12px;
  }

  .goal__item {
    margin-bottom: 10px;
  }

  .goal__control-label {
    font-size: 20px;
    line-height: 30px;
  }

  .goal__control-mark {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .goal__control-input[type="radio"]:checked + .goal__control-mark {
    &::before {
      width: 20px;
      height: 20px;
    }
  }
}

/*Десктоп*/
@media (min-width: $desktop-width) {
  .goal__variants {
    margin: 0;
    width: 568px;
  }
}
