.info__field {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}

.info__name-field-label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
}

.info__name-field-input {
  border: 1px solid $light-grey;
  padding: 14px 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  margin-left: 13px;
  flex-grow: 1;

  &:hover {
    border-color: $special_grey;
    outline: none;
  }
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .info__name-field-input {

  }
}

/*Десктоп*/
@media (min-width: $desktop-width) {
  .info__name-field-input {
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
  }
}
