.info__field {
  @include wrapper();

  margin-bottom: 14px;
  display: flex;
  align-items: center;
}

.info__name-field-label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  white-space: nowrap;
}

.info__name-field-input {
  border: 1px solid $light-grey;
  padding: 13px 20px;
  padding-right: 9px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  margin-left: 13px;
  flex-grow: 1;

  &:hover {
    border-color: $special_grey;
    outline: none;
  }
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .info__field {
    @include wrapper-tablet();
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 15px;
  }

  .info__name-field-label {
    font-size: 20px;
    line-height: 30px;
  }

  .info__name-field-input {
    font-size: 20px;
    line-height: 30px;
  }
}

/*Десктоп*/
@media (min-width: $desktop-width) {
  .info__name-field-input {
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
  }

  .info__field {
    padding: 0;
    width: 569px;
    margin-bottom: 19px;
  }
}
