.info__name-field-label{
    font-family: 'Oswald', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special_dark-grey;
}

.info__name-field-input{
    border: 1px solid $light-grey;
    padding: 14px 20px;
    font-family: 'Oswald', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special_dark-grey;
}
