.main-form__title {
  @include wrapper();

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 28px auto 38px;
}

.main-form__description {
  @include wrapper();

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.main-form__button {
  width: 100%;
  max-width: 280px;
  margin: auto;
}

.main-form__important {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-top: 19px;
  margin-bottom: 33px;
}

.main-form__info {
  border-bottom: 1px solid $grey;
  padding-bottom: 7px;
}

.main-form__goal {
  margin-top: 22px;
  border: none;
  padding: 0;
  padding-bottom: 14px;
}

.main-form__comment {
  display: flex;
  flex-direction: column;
}

.main-form__addition {
  padding: 0;
  margin-top: 23px;
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .main-form__info {
    border: none;
  }

  .main-form__goal {
    @include wrapper-tablet();
    padding-left: 70px;
    padding-right: 70px;
    box-sizing: border-box;
  }

  .main-form__title {
    @include wrapper-tablet();
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 54px;
    margin-top: 37px;
    font-size: 60px;
    line-height: 60px;
  }

  .main-form__description {
    margin: 0 auto;
    padding: 0;
    width: 767px;
    padding-left: 70px;
    padding-right: 350px;
    margin-bottom: 61px;
    font-size: 20px;
    line-height: 30px;

    br {
      display: block;
    }
  }

  .main-form__tablet-wrapper {
    @include wrapper-tablet();
    display: grid;
    grid-template-columns: 282px 200px;
    column-gap: 49px;
    margin-top: 33px;
    margin-bottom: 72px;
    padding-left: 115px;
  }

  .main-form__addition {
    margin-top: 0;
  }

  .main-form__important {
    margin-top: 23px;
    font-size: 16px;
    line-height: 16px;
  }
}

/*Десктоп*/
@media (min-width: $desktop-width) {
  .main-form__tablet-wrapper {
    @include wrapper-desk();
    margin-top: 38px;
    margin-bottom: 68px;
    max-width: 1440px;
    grid-template-columns: 568px 200px;
    column-gap: 84px;
  }

  .main-form__title {
    @include wrapper-desk();
    margin-top: 53px;
    margin-bottom: 58px;
  }

  .main-form__description {
    @include wrapper-desk();
    margin-bottom: 62px;
  }

  .main-form__important {
    margin-top: 27px;
    text-align: left;
  }

  .main-form__info-and-goal-wrapper {
    @include wrapper-desk();
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 80px;
  }

  .main-form__goal {
    margin: 0;
    padding: 0;
  }

  .main-form__button {
    max-width: 568px;
  }
}
