.main-form__title {
  @include wrapper();

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 28px auto 38px;
}

.main-form__description {
  @include wrapper();

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.main-form__button {
  width: 100%;
}

.main-form__important {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-top: 19px;
  margin-bottom: 33px;
}

.main-form__info {
  border-bottom: 1px solid $grey;
  padding-bottom: 7px;
}

.main-form__goal {
  margin-top: 22px;
  border: none;
  padding: 0;
  padding-bottom: 14px;
}

.main-form__comment {
  display: flex;
  flex-direction: column;
}

.main-form__addition {
  padding: 0;
  margin-top: 23px;
}

.main-form__button {
  max-width: 280px;
  margin: auto;
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .main-form__info {
    border: none;
  }

  .main-form__goal {
    border-bottom: none;
    border: 1px solid $light-grey;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 27px;
  }

  .main-form__title {
    @include wrapper-tablet();

    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }

  .main-form__description {
    @include wrapper-tablet();

    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }

  .main-form__tablet-wrapper {
    max-width: 533px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 123px;
    margin-bottom: 72px;
  }
}

/*Десктоп*/
@media (min-width: $desktop-width) {
  .main-form__tablet-wrapper {
    max-width: 900px;
  }

  .main-form__important {
    text-align: left;
  }

  .main-form__info-and-goal-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 80px;
  }

  .main-form__goal {
    margin: 0;
  }
}
