
.owner-contacts {
  border: none;
  padding: 0;
  border-top: 1px solid $grey;
}

.owner-contacts__list {
  @include wrapper();

  list-style: none;
}

.owner-contacts__legend-wrapper {
  @include green-line();
}

.owner-contacts__legend {
  @include wrapper();
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  padding-top: 26px;
  margin-bottom: 35px;

  &::before {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    display: block;
    width: 219px;
    height: 52px;
    background-color: $white;
    z-index: -1;
  }
}


.owner-contacts__field {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}

.owner-contacts__name-field-input {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 12px 15px;
  margin-left: 10px;
  flex-grow: 1;
}

.owner-contacts__name-field-svg {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 0;
  right: 12px;
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .owner-contacts__name-field-svg {
    right: 16px;
  }
}

/*Десктоп*/
@media (min-width: $desktop-width) {
  .owner-contacts__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 80px;
  }
}
