.owner-contacts {
  border: none;
}

.owner-contacts__list {
  list-style: none;
}

.owner-contacts__legend {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.owner-contacts__field {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.owner-contacts__name-field-input {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}


/*Десктоп*/
@media (min-width: $desktop-width) {
  .owner-contacts__list {
    display: flex;
  }
}
