@import "colors.scss";
@import "fonts.scss";
@import "viewports.scss";
@import "visually-hidden.scss";
@import "./blocks_index/banner.scss";
@import "./blocks_index/main-header.scss";
@import "./blocks_index/main-nav.scss";
@import "./blocks_catalog/addition-card.scss";
@import "./blocks_catalog/addition.scss";
@import "./blocks_catalog/card.scss";
@import "./blocks_catalog/catalog.scss";
@import "./blocks_catalog/present.scss";
@import "./blocks_index/button.scss";
@import "./blocks_index/copyright.scss";
@import "./blocks_index/example.scss";
@import "./blocks_index/logo.scss";
@import "./blocks_index/main-footer.scss";
@import "./blocks_index/page.scss";
@import "./blocks_index/principles.scss";
@import "./blocks_index/map.scss";
@import "./blocks_index/programms.scss";
@import "./blocks_index/results.scss";
@import "./blocks_index/social.scss";
@import "./blocks_form/addition.scss";
@import "./blocks_form/comment.scss";
@import "./blocks_form/goal.scss";
@import "./blocks_form/info.scss";
@import "./blocks_form/main-form.scss";
@import "./blocks_form/owner-contacts.scss";
