@import "//source/sass/blocks_catalog/addition-card.scss";
@import "//source/sass/fonts.scss";
@import "//source/sass/blocks_catalog/addition.scss";
@import "//source/sass/blocks_catalog/card.scss";
@import "//source/sass/blocks_catalog/catalog.scss";
@import "//source/sass/blocks_catalog/present.scss";
@import "//source/sass/blocks_index/banner.scss";
@import "//source/sass/blocks_index/button.scss";
@import "//source/sass/blocks_index/copyright.scss";
@import "//source/sass/blocks_index/example.scss";
@import "//source/sass/blocks_index/logo.scss";
@import "//source/sass/blocks_index/main-footer.scss";
@import "//source/sass/blocks_index/main-header.scss";
@import "//source/sass/blocks_index/main-nav.scss";
@import "//source/sass/blocks_index/principles.scss";
@import "//source/sass/blocks_index/map.scss";
@import "//source/sass/blocks_index/programms.scss";
@import "//source/sass/blocks_index/results.scss";
@import "//source/sass/blocks_index/social.scss";
@import "//source/sass/blocks_form/addition.scss";
@import "//source/sass/blocks_form/comment.scss";
@import "//source/sass/blocks_form/goal.scss";
@import "//source/sass/blocks_form/info.scss";
@import "//source/sass/blocks_form/main-form.scss";
@import "//source/sass/blocks_form/owner-contacts.scss";
@import "//source/sass/colors.scss";

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff") format("woff");
  font-display: swap;
}
